# Sistema de recomendación de películas utilizando el algoritmo KNN utilizando filtrado basado en contenido con nombres de las películas

---------


> Desarrollado por: Bryam David Vega Moreno<br>
> Cargo: Backend developer y Data Scientist <br>
> correo: vegabryam40@gmail.com

### Librerias a usar

In [1]:
# para manejar los datos
import pandas as pd
import numpy as np

# para crear el modelo de ML
from sklearn.neighbors import NearestNeighbors
from scipy.sparse import csr_matrix

# para guardar el modelo de ML

### Lectura de datos

Para este ejemplo, estaremos usando el movielens 100k ya que es ideal para realizar pruebas pertinenetes a el modelo de ML. Para ello utilizaremos dos conjuntos de datos que son muy importantes:

* **u.data**: Contiene la información correspondiente a los votos de los usuarios con respecto a una pelicula en el tiempo. Este es muy importante ya que así podemos saber que tan popular fue la pelicula para los visitantes.
* **u.item**: Contiene la información correspondiente a las peliculdas.

El objetivo de esta sección es leer los datos que se tienen en estos dos archivos para poder trabajar con ellos y empezar con nuestro sistema de recomendación.

In [125]:
# leemos los datos de los votos de los usuarios y los vamos a llamar ratings
ratings = pd.read_csv('./data/new_data/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [126]:
movies = pd.read_csv("./data/new_data/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### Pre procesamiento

Un proceso muy importante luego de haber leido la información, es proceder a mezclar nuestros dos dataset, con el objetivo de tener en un solo conjunto de datos toda la información correspondiente al nombre de la pelicula y las calificaciones que los usuarios han ido realizando a lo largo del tiempo.

El concepto de esta mezcla tiene mucho que ver con las bases de datos, en este caso estamos mezclando los dos dataset utilizando el movie_id como clave principal de union.

Luego de ello el objetivo es tener el promedio de calificación de la pelicula tomando en cuenta todas las calificaciones de distintos usuarios a esa misma pelicula.

In [113]:
dataset = pd.merge(ratings, movies, how='inner', on='movie_id')
dataset.head()

   user_id  movie_id  rating  timestamp   movie_title
0      196       242       3  881250949  Kolya (1996)
1       63       242       3  875747190  Kolya (1996)
2      226       242       5  883888671  Kolya (1996)
3      154       242       3  879138235  Kolya (1996)
4      306       242       5  876503793  Kolya (1996)

Como podemos notar este dataset sufre de que existe una gran repetición del id de peliculas y cada una tiene una distinta calificación puesto que el id del usuario es unico y por tanto eso hace que una pelicula aparezca varias veces en el dataset, por ejemplo tenemos el siguiente caso:

In [115]:
dataset[(dataset['movie_title'] == 'Willy Wonka and the Chocolate Factory (1971)')]

,user_id,movie_id,rating,timestamp,movie_title
17437,168,151,5,884288058,Willy Wonka and the Chocolate Factory (1971)
17438,222,151,3,878182109,Willy Wonka and the Chocolate Factory (1971)
17439,285,151,5,890595636,Willy Wonka and the Chocolate Factory (1971)
17440,32,151,3,883717850,Willy Wonka and the Chocolate Factory (1971)
17441,117,151,4,880126373,Willy Wonka and the Chocolate Factory (1971)
...,...,...,...,...,...
17758,346,151,4,874949244,Willy Wonka and the Chocolate Factory (1971)
17759,238,151,2,883576398,Willy Wonka and the Chocolate Factory (1971)
17760,741,151,3,891458539,Willy Wonka and the Chocolate Factory (1971)
17761,864,151,5,888889466,Willy Wonka and the Chocolate Factory (1971)
17762,821,151,4,874792889,Willy Wonka and the Chocolate Factory (1971)

In [116]:
clean_dataset[(clean_dataset['movie_id'] == 151)]

       user_id  movie_id  rating
150          1       151     4.0
441          5       151     3.0
624          6       151     3.0
858          7       151     4.0
2341        14       151     5.0
...        ...       ...     ...
98334      933       151     4.0
98501      934       151     3.0
98880      938       151     4.0
99040      940       151     3.0
99268      943       151     4.0

[326 rows x 3 columns]

Por lo tanto, lo que se busca es obtener una media de todas las calificaciones de las peliculas, ya que nuestra recomendación esta más enfocada en la pelicula que en el usuario, por lo tanto, vamos a realizar dicho proceso a continuación

In [107]:
clean_dataset = dataset.groupby(by=['user_id','movie_id'], as_index=False).agg({"rating":"mean"})
clean_dataset.head()

   user_id  movie_id  rating
0        1         1     5.0
1        1         2     3.0
2        1         3     4.0
3        1         4     3.0
4        1         5     3.0

In [121]:
clean_dataset

       user_id  movie_id  rating
0            1         1     5.0
1            1         2     3.0
2            1         3     4.0
3            1         4     3.0
4            1         5     3.0
...        ...       ...     ...
99387      943      1067     2.0
99388      943      1074     4.0
99389      943      1188     3.0
99390      943      1228     3.0
99391      943      1330     3.0

[99392 rows x 3 columns]

### Proceso de recomendación utilizando el algoritmo KNN con la entrada del nombre de la película y el número de películas que se quieren recomendar:

Como primer paso tenemos que realizar el proceso de crear una matriz inversa, es decir que los titulos de las peliculas sean tomadas como filas, mientras que las columnas sean los id del usuario y la intersección entre la columna y fila sea la calificación del usuario en esa pelicula.

In [87]:
movie_to_user_df = clean_dataset.pivot(
     index='movie_title',
   columns='user_id',
      values='rating').fillna(0)

movie_to_user_df.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie_title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1-900 (1994),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians (1996),2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men (1957),5.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187 (1997),0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

 Una de las desventajas de esta matriz, es que esta llena de valores 0 o nulos, este problema se lo conoce como "problema de esparcimiento" y esto ocasiona que las predicciones o recomendaciones que un sistema de recomendación desee hacer sean imprecisas debidos a estos valores basura, por tanto la solución es crear una matriz conocida como sparse, que soluciona este problema, a continuación realizaremos dicho proceso.

In [9]:
movie_to_user_sparse_df = csr_matrix(movie_to_user_df.values)
movie_to_user_sparse_df

<1664x943 sparse matrix of type '<class 'numpy.float64'>'
	with 99693 stored elements in Compressed Sparse Row format>

Una vez realizado la matriz de esparcimiento, que nos ayuda a evitiar el problema sparse, procedemos a crear una lista de todas las peliculas que se tienen en el dataset, con el objetivo de darles un indice posteriormente, transformadolas en un diccionario que nos servira para después poder realizar las recomendaciones correspondientes.

In [10]:
movies_list = list(movie_to_user_df.index)
movies_list[:10]

["'Til There Was You (1997)",
 '1-900 (1994)',
 '101 Dalmatians (1996)',
 '12 Angry Men (1957)',
 '187 (1997)',
 '2 Days in the Valley (1996)',
 '20,000 Leagues Under the Sea (1954)',
 '2001: A Space Odyssey (1968)',
 '3 Ninjas: High Noon At Mega Mountain (1998)',
 '39 Steps, The (1935)']

In [11]:
movie_dict = {movie : index for index, movie in enumerate(movies_list)}
print(movie_dict)

{"'Til There Was You (1997)": 0, '1-900 (1994)': 1, '101 Dalmatians (1996)': 2, '12 Angry Men (1957)': 3, '187 (1997)': 4, '2 Days in the Valley (1996)': 5, '20,000 Leagues Under the Sea (1954)': 6, '2001: A Space Odyssey (1968)': 7, '3 Ninjas: High Noon At Mega Mountain (1998)': 8, '39 Steps, The (1935)': 9, '8 1/2 (1963)': 10, '8 Heads in a Duffel Bag (1997)': 11, '8 Seconds (1994)': 12, 'A Chef in Love (1996)': 13, 'Above the Rim (1994)': 14, 'Absolute Power (1997)': 15, 'Abyss, The (1989)': 16, 'Ace Ventura: Pet Detective (1994)': 17, 'Ace Ventura: When Nature Calls (1995)': 18, 'Across the Sea of Time (1995)': 19, 'Addams Family Values (1993)': 20, 'Addicted to Love (1997)': 21, 'Addiction, The (1995)': 22, 'Adventures of Pinocchio, The (1996)': 23, 'Adventures of Priscilla, Queen of the Desert, The (1994)': 24, 'Adventures of Robin Hood, The (1938)': 25, 'Affair to Remember, An (1957)': 26, 'African Queen, The (1951)': 27, 'Afterglow (1997)': 28, 'Age of Innocence, The (1993)': 29, 'Aiqing wansui (1994)': 30, 'Air Bud (1997)': 31, 'Air Force One (1997)': 32, 'Air Up There, The (1994)': 33, 'Airheads (1994)': 34, 'Akira (1988)': 35, 'Aladdin (1992)': 36, 'Aladdin and the King of Thieves (1996)': 37, 'Alaska (1996)': 38, 'Albino Alligator (1996)': 39, 'Alice in Wonderland (1951)': 40, 'Alien (1979)': 41, 'Alien 3 (1992)': 42, 'Alien: Resurrection (1997)': 43, 'Aliens (1986)': 44, 'All About Eve (1950)': 45, 'All Dogs Go to Heaven 2 (1996)': 46, 'All Over Me (1997)': 47, 'All Things Fair (1996)': 48, 'Alphaville (1965)': 49, 'Amadeus (1984)': 50, 'Amateur (1994)': 51, 'Amazing Panda Adventure, The (1995)': 52, 'American Buffalo (1996)': 53, 'American Dream (1990)': 54, 'American President, The (1995)': 55, 'American Strays (1996)': 56, 'American Werewolf in London, An (1981)': 57, 'American in Paris, An (1951)': 58, 'Amistad (1997)': 59, "Amityville 1992: It's About Time (1992)": 60, 'Amityville 3-D (1983)': 61, 'Amityville Curse, The (1990)': 62, 'Amityville Horror, The (1979)': 63, 'Amityville II: The Possession (1982)': 64, 'Amityville: A New Generation (1993)': 65, 'Amityville: Dollhouse (1996)': 66, 'Amos & Andrew (1993)': 67, 'An Unforgettable Summer (1994)': 68, 'Anaconda (1997)': 69, 'Anastasia (1997)': 70, 'Andre (1994)': 71, 'Angel Baby (1995)': 72, 'Angel and the Badman (1947)': 73, 'Angel on My Shoulder (1946)': 74, 'Angela (1995)': 75, 'Angels and Insects (1995)': 76, 'Angels in the Outfield (1994)': 77, 'Angus (1995)': 78, 'Anna (1996)': 79, 'Anna Karenina (1997)': 80, 'Anne Frank Remembered (1995)': 81, 'Annie Hall (1977)': 82, 'Another Stakeout (1993)': 83, "Antonia's Line (1995)": 84, 'Aparajito (1956)': 85, 'Apartment, The (1960)': 86, 'Apocalypse Now (1979)': 87, 'Apollo 13 (1995)': 88, 'Apostle, The (1997)': 89, 'Apple Dumpling Gang, The (1975)': 90, "April Fool's Day (1986)": 91, 'Apt Pupil (1998)': 92, 'Aristocats, The (1970)': 93, 'Army of Darkness (1993)': 94, 'Around the World in 80 Days (1956)': 95, 'Arrival, The (1996)': 96, 'Arsenic and Old Lace (1944)': 97, 'As Good As It Gets (1997)': 98, 'Assassins (1995)': 99, 'Assignment, The (1997)': 100, 'Associate, The (1996)': 101, 'Audrey Rose (1977)': 102, 'August (1996)': 103, 'Austin Powers: International Man of Mystery (1997)': 104, 'Awfully Big Adventure, An (1995)': 105, 'Ayn Rand: A Sense of Life (1997)': 106, 'B*A*P*S (1997)': 107, 'B. Monkey (1998)': 108, 'Babe (1995)': 109, 'Baby-Sitters Club, The (1995)': 110, 'Babyfever (1994)': 111, 'Babysitter, The (1995)': 112, 'Back to the Future (1985)': 113, 'Backbeat (1993)': 114, 'Bad Boys (1995)': 115, 'Bad Company (1995)': 116, 'Bad Girls (1994)': 117, 'Bad Moon (1996)': 118, 'Bad Taste (1987)': 119, 'Ballad of Narayama, The (Narayama Bushiko) (1958)': 120, 'Balto (1995)': 121, 'Bananas (1971)': 122, 'Band Wagon, The (1953)': 123, 'Barb Wire (1996)': 124, 'Barbarella (1968)': 125, 'Barcelona (1994)': 126, 'Basic Instinct (1992)': 127, 'Basketball Diaries, The (1995)': 128, 'Basquiat (1996)': 129, 'Bastard Out of Carolina (1996)': 130, 'Batman & Robin (1997)': 131, 'Batman (1989)': 132, 'Batman Forever (1995)': 133, 'Batman Returns (1992)': 134, 'Baton Rouge (1988)': 135, 'Bean (1997)': 136, 'Beans of Egypt, Maine, The (1994)': 137, 'Beat the Devil (1954)': 138, 'Beautician and the Beast, The (1997)': 139, 'Beautiful Girls (1996)': 140, 'Beautiful Thing (1996)': 141, 'Beauty and the Beast (1991)': 142, 'Beavis and Butt-head Do America (1996)': 143, 'Bed of Roses (1996)': 144, 'Bedknobs and Broomsticks (1971)': 145, 'Before Sunrise (1995)': 146, 'Before and After (1996)': 147, 'Before the Rain (Pred dozhdot) (1994)': 148, 'Being Human (1993)': 149, 'Being There (1979)': 150, 'Believers, The (1987)': 151, 'Belle de jour (1967)': 152, 'Ben-Hur (1959)': 153, 'Benny & Joon (1993)': 154, 'Bent (1997)': 155, 'Best Men (1997)': 156, 'Best of the Best 3: No Turning Back (1995)': 157, 'Better Off Dead... (1985)': 158, 'Beverly Hillbillies, The (1993)': 159, 'Beverly Hills Cop III (1994)': 160, 'Beverly Hills Ninja (1997)': 161, 'Bewegte Mann, Der (1994)': 162, 'Beyond Bedlam (1993)': 163, 'Beyond Rangoon (1995)': 164, 'Bhaji on the Beach (1993)': 165, 'Big Bang Theory, The (1994)': 166, 'Big Blue, The (Grand bleu, Le) (1988)': 167, 'Big Bully (1996)': 168, 'Big Green, The (1995)': 169, 'Big Lebowski, The (1998)': 170, 'Big Night (1996)': 171, 'Big One, The (1997)': 172, 'Big Sleep, The (1946)': 173, 'Big Squeeze, The (1996)': 174, 'Billy Madison (1995)': 175, 'Bio-Dome (1996)': 176, 'Bird of Prey (1996)': 177, 'Birdcage, The (1996)': 178, 'Birds, The (1963)': 179, 'Bitter Moon (1992)': 180, 'Bitter Sugar (Azucar Amargo) (1996)': 181, 'Black Beauty (1994)': 182, 'Black Sheep (1996)': 183, 'Blade Runner (1982)': 184, 'Blink (1994)': 185, 'Bliss (1997)': 186, 'Blob, The (1958)': 187, 'Blood & Wine (1997)': 188, 'Blood Beach (1981)': 189, "Blood For Dracula (Andy Warhol's Dracula) (1974)": 190, 'Bloodsport 2 (1995)': 191, 'Bloody Child, The (1996)': 192, 'Blown Away (1994)': 193, 'Blue Angel, The (Blaue Engel, Der) (1930)': 194, 'Blue Chips (1994)': 195, 'Blue Sky (1994)': 196, 'Blue in the Face (1995)': 197, 'Blues Brothers 2000 (1998)': 198, 'Blues Brothers, The (1980)': 199, 'Bob Roberts (1992)': 200, 'Body Parts (1991)': 201, 'Body Snatcher, The (1945)': 202, 'Body Snatchers (1993)': 203, 'Bogus (1996)': 204, 'Bonheur, Le (1965)': 205, 'Bonnie and Clyde (1967)': 206, 'Boogie Nights (1997)': 207, 'Boomerang (1992)': 208, 'Boot, Das (1981)': 209, 'Booty Call (1997)': 210, 'Bottle Rocket (1996)': 211, 'Bound (1996)': 212, 'Boxing Helena (1993)': 213, "Boy's Life 2 (1997)": 214, 'Boys (1996)': 215, 'Boys Life (1995)': 216, 'Boys in Venice (1996)': 217, 'Boys of St. Vincent, The (1993)': 218, 'Boys on the Side (1995)': 219, 'Boys, Les (1997)': 220, 'Brady Bunch Movie, The (1995)': 221, 'Braindead (1992)': 222, "Bram Stoker's Dracula (1992)": 223, 'Brassed Off (1996)': 224, 'Braveheart (1995)': 225, 'Brazil (1985)': 226, 'Bread and Chocolate (Pane e cioccolata) (1973)': 227, 'Breakdown (1997)': 228, "Breakfast at Tiffany's (1961)": 229, 'Breaking the Waves (1996)': 230, 'Bride of Frankenstein (1935)': 231, 'Bridge on the River Kwai, The (1957)': 232, 'Bridges of Madison County, The (1995)': 233, 'Bringing Up Baby (1938)': 234, 'Broken Arrow (1996)': 235, 'Broken English (1996)': 236, 'Bronx Tale, A (1993)': 237, 'Brother Minister: The Assassination of Malcolm X (1994)': 238, "Brother's Kiss, A (1997)": 239, 'Brothers McMullen, The (1995)': 240, 'Brothers in Trouble (1995)': 241, 'Browning Version, The (1994)': 242, 'Buddy (1997)': 243, 'Bulletproof (1996)': 244, 'Bullets Over Broadway (1994)': 245, 'Burnt By the Sun (1994)': 246, 'Burnt Offerings (1976)': 247, 'Bushwhacked (1995)': 248, 'Butch Cassidy and the Sundance Kid (1969)': 249, 'Butcher Boy, The (1998)': 250, 'Butterfly Kiss (1995)': 251, 'Bye Bye, Love (1995)': 252, "C'est arrivé près de chez vous (1992)": 253, 'Cabin Boy (1994)': 254, 'Cable Guy, The (1996)': 255, 'Calendar Girl (1993)': 256, 'Canadian Bacon (1994)': 257, 'Candidate, The (1972)': 258, 'Candyman (1992)': 259, 'Candyman: Farewell to the Flesh (1995)': 260, 'Cape Fear (1962)': 261, 'Cape Fear (1991)': 262, 'Captives (1994)': 263, 'Career Girls (1997)': 264, 'Careful (1992)': 265, "Carlito's Way (1993)": 266, 'Carmen Miranda: Bananas Is My Business (1994)': 267, 'Caro Diario (Dear Diary) (1994)': 268, 'Carpool (1996)': 269, 'Carrie (1976)': 270, 'Carried Away (1996)': 271, 'Carrington (1995)': 272, 'Casablanca (1942)': 273, 'Casino (1995)': 274, 'Casper (1995)': 275, 'Castle Freak (1995)': 276, 'Cat People (1982)': 277, 'Cat on a Hot Tin Roof (1958)': 278, "Cats Don't Dance (1997)": 279, 'Catwalk (1995)': 280, 'Caught (1996)': 281, 'Celestial Clockwork (1994)': 282, 'Celluloid Closet, The (1995)': 283, 'Celtic Pride (1996)': 284, 'Cement Garden, The (1993)': 285, 'Cemetery Man (Dellamorte Dellamore) (1994)': 286, 'Century (1993)': 287, 'Chain Reaction (1996)': 288, 'Chairman of the Board (1998)': 289, 'Chamber, The (1996)': 290, 'Charade (1963)': 291, 'Chasers (1994)': 292, 'Chasing Amy (1997)': 293, 'Children of the Corn: The Gathering (1996)': 294, 'Children of the Revolution (1996)': 295, 'Chinatown (1974)': 296, 'Christmas Carol, A (1938)': 297, 'Chungking Express (1994)': 298, 'Ciao, Professore! (1993)': 299, 'Cinderella (1950)': 300, 'Cinema Paradiso (1988)': 301, 'Circle of Friends (1995)': 302, 'Citizen Kane (1941)': 303, 'Citizen Ruth (1996)': 304, 'City Hall (1996)': 305, "City Slickers II: The Legend of Curly's Gold (1994)": 306, 'City of Angels (1998)': 307, 'City of Industry (1997)': 308, 'City of Lost Children, The (1995)': 309, 'Clean Slate (1994)': 310, 'Clean Slate (Coup de Torchon) (1981)': 311, 'Clear and Present Danger (1994)': 312, 'Clerks (1994)': 313, 'Client, The (1994)': 314, 'Cliffhanger (1993)': 315, 'Clockers (1995)': 316, 'Clockwork Orange, A (1971)': 317, 'Close Shave, A (1995)': 318, 'Clueless (1995)': 319, 'Cobb (1994)': 320, 'Cold Comfort Farm (1995)': 321, 'Coldblooded (1995)': 322, 'Collectionneuse, La (1967)': 323, 'Colonel Chabert, Le (1994)': 324, 'Color of Night (1994)': 325, 'Commandments (1997)': 326, 'Con Air (1997)': 327, 'Conan the Barbarian (1981)': 328, 'Condition Red (1995)': 329, 'Coneheads (1993)': 330, 'Congo (1995)': 331, 'Conspiracy Theory (1997)': 332, 'Contact (1997)': 333, 'Contempt (Mépris, Le) (1963)': 334, 'Convent, The (Convento, O) (1995)': 335, 'Cook the Thief His Wife & Her Lover, The (1989)': 336, 'Cool Hand Luke (1967)': 337, 'Cool Runnings (1993)': 338, 'Cop Land (1997)': 339, 'Cops and Robbersons (1994)': 340, 'Copycat (1995)': 341, 'Corrina, Corrina (1994)': 342, 'Cosi (1996)': 343, 'Country Life (1994)': 344, 'Courage Under Fire (1996)': 345, 'Cowboy Way, The (1994)': 346, 'Craft, The (1996)': 347, 'Crash (1996)': 348, 'Crimson Tide (1995)': 349, 'Critical Care (1997)': 350, 'Cronos (1992)': 351, 'Crooklyn (1994)': 352, 'Crossfire (1947)': 353, 'Crossing Guard, The (1995)': 354, 'Crow, The (1994)': 355, 'Crow: City of Angels, The (1996)': 356, 'Crows and Sparrows (1949)': 357, 'Crucible, The (1996)': 358, 'Crude Oasis, The (1995)': 359, 'Crumb (1994)': 360, 'Cry, the Beloved Country (1995)': 361, 'Crying Game, The (1992)': 362, 'Curdled (1996)': 363, 'Cure, The (1995)': 364, 'Cutthroat Island (1995)': 365, 'Cyclo (1995)': 366, 'Cyrano de Bergerac (1990)': 367, 'Cérémonie, La (1995)': 368, 'D3: The Mighty Ducks (1996)': 369, 'Dadetown (1995)': 370, 'Daens (1992)': 371, 'Damsel in Distress, A (1937)': 372, 'Dances with Wolves (1990)': 373, 'Dangerous Beauty (1998)': 374, 'Dangerous Ground (1997)': 375, 'Dangerous Minds (1995)': 376, "Daniel Defoe's Robinson Crusoe (1996)": 377, "Dante's Peak (1997)": 378, 'Dark City (1998)': 379, 'Dave (1993)': 380, 'Davy Crockett, King of the Wild Frontier (1955)': 381, 'Day the Earth Stood Still, The (1951)': 382, 'Day the Sun Turned Cold, The (Tianguo niezi) (1994)': 383, 'Daylight (1996)': 384, 'Days of Thunder (1990)': 385, 'Daytrippers, The (1996)': 386, 'Dazed and Confused (1993)': 387, 'Dead Man (1995)': 388, 'Dead Man Walking (1995)': 389, 'Dead Poets Society (1989)': 390, 'Dead Presidents (1995)': 391, 'Dear God (1996)': 392, 'Death and the Maiden (1994)': 393, 'Death in Brunswick (1991)': 394, 'Death in the Garden (Mort en ce jardin, La) (1956)': 395, 'Deceiver (1997)': 396, 'Deconstructing Harry (1997)': 397, 'Deep Rising (1998)': 398, 'Deer Hunter, The (1978)': 399, 'Delicatessen (1991)': 400, 'Delta of Venus (1994)': 401, 'Demolition Man (1993)': 402, 'Denise Calls Up (1995)': 403, 'Desert Winds (1995)': 404, 'Designated Mourner, The (1997)': 405, 'Desperado (1995)': 406, 'Desperate Measures (1998)': 407, 'Destiny Turns on the Radio (1995)': 408, 'Devil in a Blue Dress (1995)': 409, "Devil's Advocate, The (1997)": 410, "Devil's Own, The (1997)": 411, 'Diabolique (1996)': 412, 'Dial M for Murder (1954)': 413, 'Die Hard (1988)': 414, 'Die Hard 2 (1990)': 415, 'Die Hard: With a Vengeance (1995)': 416, 'Die xue shuang xiong (Killer, The) (1989)': 417, 'Dingo (1992)': 418, 'Dirty Dancing (1987)': 419, 'Disclosure (1994)': 420, 'Diva (1981)': 421, 'Dolores Claiborne (1994)': 422, 'Don Juan DeMarco (1995)': 423, "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)": 424, 'Donnie Brasco (1997)': 425, 'Doom Generation, The (1995)': 426, 'Doors, The (1991)': 427, 'Double Happiness (1994)': 428, 'Double Team (1997)': 429, 'Double vie de Véronique, La (Double Life of Veronique, The) (1991)': 430, 'Down Periscope (1996)': 431, 'Down by Law (1986)': 432, 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)': 433, 'Dracula: Dead and Loving It (1995)': 434, 'Dragonheart (1996)': 435, 'Dream Man (1995)': 436, 'Dream With the Fishes (1997)': 437, 'Drop Dead Fred (1991)': 438, 'Drop Zone (1994)': 439, 'Drunks (1995)': 440, 'Duck Soup (1933)': 441, 'Dumb & Dumber (1994)': 442, 'Dumbo (1941)': 443, 'Dunston Checks In (1996)': 444, 'Duoluo tianshi (1995)': 445, 'E.T. the Extra-Terrestrial (1982)': 446, 'East of Eden (1955)': 447, 'Eat Drink Man Woman (1994)': 448, 'Ed (1996)': 449, 'Ed Wood (1994)': 450, "Ed's Next Move (1996)": 451, 'Eddie (1996)': 452, 'Edge, The (1997)': 453, 'Eighth Day, The (1996)': 454, 'Emma (1996)': 455, 'Empire Strikes Back, The (1980)': 456, 'Enchanted April (1991)': 457, 'Endless Summer 2, The (1994)': 458, "Enfer, L' (1994)": 459, 'English Patient, The (1996)': 460, 'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)': 461, 'Entertaining Angels: The Dorothy Day Story (1996)': 462, 'Eraser (1996)': 463, 'Escape from L.A. (1996)': 464, 'Escape from New York (1981)': 465, 'Escape to Witch Mountain (1975)': 466, 'Etz Hadomim Tafus (Under the Domin Tree) (1994)': 467, "Eve's Bayou (1997)": 468, 'Even Cowgirls Get the Blues (1993)': 469, 'Evening Star, The (1996)': 470, 'Event Horizon (1997)': 471, 'Everest (1998)': 472, 'Every Other Weekend (1990)': 473, 'Everyone Says I Love You (1996)': 474, 'Evil Dead II (1987)': 475, 'Evita (1996)': 476, 'Excess Baggage (1997)': 477, 'Executive Decision (1996)': 478, 'Exit to Eden (1994)': 479, 'Exotica (1994)': 480, 'Extreme Measures (1996)': 481, 'Eye for an Eye (1996)': 482, "Eye of Vichy, The (Oeil de Vichy, L') (1993)": 483, 'Face/Off (1997)': 484, 'Faces (1968)': 485, 'Fair Game (1995)': 486, 'FairyTale: A True Story (1997)': 487, 'Faithful (1996)': 488, 'Fall (1997)': 489, 'Fallen (1998)': 490, 'Falling in Love Again (1980)': 491, 'Family Thing, A (1996)': 492, 'Fan, The (1996)': 493, 'Fantasia (1940)': 494, 'Far From Home: The Adventures of Yellow Dog (1995)': 495, 'Farewell My Concubine (1993)': 496, 'Farewell to Arms, A (1932)': 497, 'Fargo (1996)': 498, 'Farinelli: il castrato (1994)': 499, 'Farmer & Chase (1995)': 500, 'Fast, Cheap & Out of Control (1997)': 501, 'Faster Pussycat! Kill! Kill! (1965)': 502, 'Fatal Instinct (1993)': 503, 'Father of the Bride (1950)': 504, 'Father of the Bride Part II (1995)': 505, "Fathers' Day (1997)": 506, 'Faust (1994)': 507, 'Fausto (1993)': 508, 'Favor, The (1994)': 509, 'Fear (1996)': 510, 'Fear of a Black Hat (1993)': 511, 'Fear, The (1995)': 512, 'Fearless (1993)': 513, 'Feast of July (1995)': 514, 'Feeling Minnesota (1996)': 515, 'Female Perversions (1996)': 516, 'Field of Dreams (1989)': 517, 'Fierce Creatures (1997)': 518, 'Fifth Element, The (1997)': 519, 'Fille seule, La (A Single Girl) (1995)': 520, 'Fire Down Below (1997)': 521, 'Fire on the Mountain (1996)': 522, 'Firestorm (1998)': 523, 'Firm, The (1993)': 524, 'First Kid (1996)': 525, 'First Knight (1995)': 526, 'First Wives Club, The (1996)': 527, 'Fish Called Wanda, A (1988)': 528, 'Fled (1996)': 529, 'Flesh and Bone (1993)': 530, 'Flintstones, The (1994)': 531, 'Flipper (1996)': 532, 'Flirt (1995)': 533, 'Flirting With Disaster (1996)': 534, 'Flower of My Secret, The (Flor de mi secreto, La) (1995)': 535, 'Flubber (1997)': 536, 'Fluke (1995)': 537, 'Fly Away Home (1996)': 538, 'Fog, The (1980)': 539, 'Fools Rush In (1997)': 540, 'For Ever Mozart (1996)': 541, 'For Love or Money (1993)': 542, 'For Richer or Poorer (1997)': 543, 'For Whom the Bell Tolls (1943)': 544, 'For the Moment (1994)': 545, 'Forbidden Christ, The (Cristo proibito, Il) (1950)': 546, 'Forbidden Planet (1956)': 547, 'Foreign Correspondent (1940)': 548, 'Foreign Student (1994)': 549, 'Forget Paris (1995)': 550, 'Forrest Gump (1994)': 551, 'Four Days in September (1997)': 552, 'Four Rooms (1995)': 553, 'Four Weddings and a Funeral (1994)': 554, 'Fox and the Hound, The (1981)': 555, 'Foxfire (1996)': 556, 'Frankie Starlight (1995)': 557, 'Free Willy (1993)': 558, 'Free Willy 2: The Adventure Home (1995)': 559, 'Free Willy 3: The Rescue (1997)': 560, 'Freeway (1996)': 561, 'French Kiss (1995)': 562, 'French Twist (Gazon maudit) (1995)': 563, 'Fresh (1994)': 564, 'Friday (1995)': 565, 'Fried Green Tomatoes (1991)': 566, 'Frighteners, The (1996)': 567, 'Frisk (1995)': 568, 'From Dusk Till Dawn (1996)': 569, 'Fugitive, The (1993)': 570, 'Full Metal Jacket (1987)': 571, 'Full Monty, The (1997)': 572, 'Full Speed (1996)': 573, 'Funeral, The (1996)': 574, 'Funny Face (1957)': 575, 'Further Gesture, A (1996)': 576, 'G.I. Jane (1997)': 577, 'Gabbeh (1996)': 578, 'Game, The (1997)': 579, 'Gandhi (1982)': 580, 'Gang Related (1997)': 581, 'Garden of Finzi-Contini, The (Giardino dei Finzi-Contini, Il) (1970)': 582, 'Gaslight (1944)': 583, 'Gate of Heavenly Peace, The (1995)': 584, 'Gattaca (1997)': 585, 'Gay Divorcee, The (1934)': 586, 'George of the Jungle (1997)': 587, 'Georgia (1995)': 588, 'Germinal (1993)': 589, 'Geronimo: An American Legend (1993)': 590, 'Get Shorty (1995)': 591, 'Get on the Bus (1996)': 592, 'Getaway, The (1994)': 593, 'Getting Away With Murder (1996)': 594, 'Getting Even with Dad (1994)': 595, 'Ghost (1990)': 596, 'Ghost and Mrs. Muir, The (1947)': 597, 'Ghost and the Darkness, The (1996)': 598, 'Ghost in the Shell (Kokaku kidotai) (1995)': 599, 'Ghosts of Mississippi (1996)': 600, 'Giant (1956)': 601, 'Gigi (1958)': 602, "Gilligan's Island: The Movie (1998)": 603, 'Girl 6 (1996)': 604, 'Girl in the Cadillac (1995)': 605, 'Girls Town (1996)': 606, 'Glass Shield, The (1994)': 607, 'Glengarry Glen Ross (1992)': 608, 'Glimmer Man, The (1996)': 609, 'Glory (1989)': 610, 'Go Fish (1994)': 611, 'Godfather, The (1972)': 612, 'Godfather: Part II, The (1974)': 613, 'Gold Diggers: The Secret of Bear Mountain (1995)': 614, 'Golden Earrings (1947)': 615, 'GoldenEye (1995)': 616, "Gone Fishin' (1997)": 617, 'Gone with the Wind (1939)': 618, 'Good Man in Africa, A (1994)': 619, 'Good Morning (1971)': 620, 'Good Will Hunting (1997)': 621, 'Good, The Bad and The Ugly, The (1966)': 622, 'GoodFellas (1990)': 623, 'Goofy Movie, A (1995)': 624, 'Gordy (1995)': 625, 'Grace of My Heart (1996)': 626, 'Graduate, The (1967)': 627, 'Grand Day Out, A (1992)': 628, 'Grass Harp, The (1995)': 629, 'Grateful Dead (1995)': 630, 'Grease (1978)': 631, 'Grease 2 (1982)': 632, 'Great Day in Harlem, A (1994

Posterior a ello, procedemos a **crear nuestro modelo de KNN** utilizando la metrica de similitud de cosenos y un algoritmo bruto para conseguir una recomendación a corde al conjunto de datos que se tienen actualmente. De igual forma con el modelo ya creado procedemos a realizar un entrenamiento con la finalidad de que nuestro modelo aprenda del conjunto de datos que se tienen.

In [12]:
knn_movie_model = NearestNeighbors(metric='cosine', algorithm='brute')
knn_movie_model.fit(movie_to_user_sparse_df)

NearestNeighbors(algorithm='brute', metric='cosine')

Una vez entrenado nuestro modelo KNN, procedemos a realizar la recomendación de una pelicula en particular, utilizando el nombre como lo hemos indicado al inicio de nuestro modelo. Con ello creamos un método o función que toma como entrada el nombre de la película y el número de similitudes que queremos obtener con el nombre de la pelicula principal.

In [13]:
def get_similar_movies(movie, n = 10):
    index = movie_dict[movie]
    knn_input = np.asarray([movie_to_user_df.values[index]])
    n = min(len(movies_list)-1,n)
    distances, indices = knn_movie_model.kneighbors(knn_input, n_neighbors=n+1)
  
    print("Top",n,"peliculas que tienen mucha similitud con la pelicula-",movie, "son: ")
    print(" ")
    for i in range(1,len(distances[0])):
        print(movies_list[indices[0][i]])

Por último procedemos a realizar las pruebas correspondientes a nuestro modelo de recomendación

In [14]:
movie_name = 'Toy Story (1995)'

get_similar_movies(movie_name,15)

Top 15 peliculas que tienen mucha similitud con la pelicula- Toy Story (1995) son:

Star Wars (1977)
Return of the Jedi (1983)
Independence Day (ID4) (1996)
Rock, The (1996)
Mission: Impossible (1996)
Willy Wonka and the Chocolate Factory (1971)
Star Trek: First Contact (1996)
Fargo (1996)
Jerry Maguire (1996)
Raiders of the Lost Ark (1981)
Twelve Monkeys (1995)
Twister (1996)
Empire Strikes Back, The (1980)
Apollo 13 (1995)
Men in Black (1997)

<div class="alert alert-success">
    <b>Con ello el sistema de recomendación funciona correctamente!!</b> <br>
    <br>- El modelo toma como entrada el nombre de la película y el número de películas que se desea recomendar.
    <br>- El modelo devolvera películas relacionadas a la película que se ingreso para recomendar.
    <br>- Ahora se indica el proceso para proceder a guardar el modelo en un formato <b>.pkl</b> para utilizarlo en un servicio web. 
</div>

### Proceso que permite guardar el modelo KNN en un formato .pkl

Una de los procesos más importantes después de realizar un modelo de ML es realizar la exportación de dicho modelo, esto debido a que muchas veces estos modelos suelen quedarse en cuadernos jupyter por lo que solo quedan en desarrollo para pruebas. Lo importante es implementar este modelo en un sistema para ver su funcionamiento.

A continuación se presentan los pasos para exportar el modelo en un formato .pkl

#### Joblib para exportar y cargar modelos

Joblib es una libreria que permite facilitar la creación de pipelines con python, sin embargo, esta librería también funciona para poder exportar e importar modelos para poder realizar las pruebas del mismo.

In [15]:
import joblib

#### exportando modelo

Exportar un modelo de ml es muy sencillo con esta herramienta, solamente debemos utilizar la función **dump** enviando como parametros nuestro modelo de ML y el path donde se va a ubicar nuestro modelo con formato .pkl

In [16]:
name_model = 'knn_model'
path_save = './model/{}.pkl'.format(name_model)
joblib.dump(knn_movie_model, path_save)

['./model/knn_model.pkl']

### importando un modelo

Ahora, imaginemos que tenemos que consumir un modelo en un servicio web como por ejemplo en django, pues joblib permite realizar de igual forma la importación de este modelo y tratarlo como servicio. A continuación se indica como se debe importar el modelo.

In [17]:
name_model_load = 'knn_model'
path_load = './model/{}.pkl'.format(name_model_load)
model_load = joblib.load(path_load,mmap_mode='r')

Con el modelo de ML importado, en el siguiente ejemplo se simula un método para obtener las recomendaciones del sistema de recomendación utilizando el modelo importado. Con ello obtenemos el siguiente resultado.

In [23]:
def get_similar_movies_with_model_load(movie, n = 10):
    index = movie_dict[movie]
    print(index)
    knn_input = np.asarray([movie_to_user_df.values[index]])
    print(knn_input)
    n = min(len(movies_list)-1,n)
    distances, indices = model_load.kneighbors(knn_input, n_neighbors=n+1)
  
    print("Top",n,"peliculas que tienen mucha similitud con la pelicula-",movie, "son: ")
    print(" ")
    for i in range(1,len(distances[0])):
        print(movies_list[indices[0][i]])

In [24]:
movie_name = 'Willy Wonka and the Chocolate Factory (1971)'

get_similar_movies_with_model_load(movie_name,15)

1633
[[4. 0. 0. 0. 3. 3. 4. 0. 0. 0. 0. 0. 0. 5. 0. 5. 4. 3. 0. 3. 0. 0. 3. 5.
  4. 3. 0. 0. 0. 0. 0. 3. 0. 0. 0. 0. 0. 0. 0. 0. 0. 4. 4. 4. 2. 4. 0. 0.
  5. 0. 0. 5. 4. 2. 0. 4. 3. 3. 5. 5. 0. 5. 0. 3. 0. 0. 4. 0. 5. 3. 1. 0.
  0. 0. 5. 0. 0. 0. 0. 0. 2. 2. 3. 4. 0. 0. 0. 0. 5. 2. 0. 0. 1. 5. 4. 0.
  0. 0. 0. 0. 3. 0. 0. 0. 0. 0. 0. 0. 5. 0. 0. 0. 0. 0. 0. 0. 4. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 3. 0. 0. 0. 3. 0. 0. 0. 0. 0. 4. 0. 0. 2. 0. 0. 0.
  0. 0. 0. 4. 0. 4. 5. 4. 0. 0. 0. 0. 0. 0. 0. 4. 0. 3. 0. 0. 0. 0. 0. 5.
  0. 0. 0. 0. 0. 3. 0. 4. 0. 0. 0. 0. 2. 0. 0. 0. 0. 0. 0. 3. 5. 0. 0. 0.
  0. 0. 0. 0. 0. 4. 0. 3. 0. 0. 4. 0. 0. 0. 0. 0. 0. 0. 0. 0. 5. 5. 5. 3.
  0. 0. 0. 0. 1. 3. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 3. 0. 2. 0. 2. 0. 0.
  0. 0. 3. 5. 3. 5. 4. 0. 0. 4. 5. 0. 0. 2. 0. 5. 4. 0. 0. 0. 0. 0. 0. 0.
  2. 0. 0. 3. 5. 0. 0. 0. 0. 0. 0. 5. 3. 0. 4. 0. 0. 0. 4. 0. 5. 5. 0. 0.
  2. 2. 5. 5. 4. 5. 4. 2. 3. 3. 4. 0. 2. 0. 5. 0. 4. 0. 0. 4. 0. 0. 0. 2.
  1. 4. 0. 0. 0. 0. 0. 0. 0. 0. 4. 0. 0. 0. 4. 0. 0. 4. 0. 0. 0. 4. 0. 1.
  5. 0. 4. 0. 0. 0. 0. 5. 5. 4. 3. 3. 0. 0. 0. 0. 0. 3. 0. 0. 5. 0. 0. 0.
  0. 0. 4. 0. 4. 0. 0. 0. 0. 0. 0. 0. 4. 3. 0. 0. 0. 3. 4. 4. 5. 4. 0. 0.
  2. 0. 3. 0. 4. 0. 0. 0. 0. 5. 3. 3. 0. 0. 2. 0. 1. 5. 4. 0. 0. 2. 4. 0.
  0. 0. 0. 0. 0. 0. 0. 3. 5. 0. 0. 0. 0. 4. 0. 2. 0. 0. 0. 0. 5. 4. 0. 4.
  0. 5. 3. 0. 5. 0. 0. 0. 0. 0. 0. 0. 4. 0. 3. 0. 0. 5. 0. 0. 3. 0. 0. 0.
  5. 0. 0. 3. 0. 0. 4. 0. 3. 0. 0. 0. 0. 0. 2. 3. 0. 3. 0. 0. 0. 5. 4. 0.
  0. 0. 2. 4. 0. 2. 0. 0. 0. 1. 0. 0. 3. 0. 5. 3. 3. 4. 0. 3. 4. 0. 0. 4.
  3. 0. 0. 5. 0. 0. 0. 0. 0. 0. 0. 0. 0. 3. 0. 0. 3. 0. 0. 1. 5. 0. 0. 0.
  0. 0. 0. 5. 3. 4. 4. 3. 2. 0. 0. 0. 3. 0. 0. 0. 4. 0. 0. 1. 3. 0. 0. 3.
  5. 4. 0. 0. 0. 0. 0. 3. 2. 0. 0. 0. 0. 0. 0. 0. 5. 0. 0. 0. 0. 0. 0. 0.
  4. 0. 0. 2. 0. 4. 0. 0. 0. 0. 0. 4. 0. 0. 0. 4. 0. 0. 5. 0. 4. 0. 0. 0.
  3. 0. 0. 0. 0. 5. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 3. 0. 4. 5. 0. 0. 0.
  3. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 5. 0. 0. 4. 0. 3. 0. 0. 0. 0. 0. 2.
  0. 3. 0. 0. 3. 4. 0. 0. 4. 5. 0. 5. 0. 0. 3. 4. 3. 2. 0. 0. 5. 0. 0. 0.
  0. 2. 0. 0. 4. 0. 0. 5. 0. 5. 0. 3. 0. 0. 0. 0. 3. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 3. 0. 0. 0. 0. 0. 3. 0. 4. 4. 0. 0. 4. 0. 0. 3. 0. 5. 0. 0. 0. 0.
  0. 5. 0. 0. 0. 0. 0. 0. 0. 4. 0. 0. 4. 0. 0. 0. 0. 4. 0. 0. 3. 0. 0. 0.
  2. 0. 0. 0. 5. 0. 0. 0. 0. 0. 0. 4. 4. 5. 0. 0. 2. 0. 4. 4. 4. 0. 0. 2.
  0. 5. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 2. 4. 0. 3.
  5. 0. 3. 5. 0. 3. 0. 0. 0. 0. 0. 3. 5. 0. 4. 0. 0. 0. 0. 0. 0. 0. 4. 0.
  0. 0. 0. 0. 4. 0. 4. 0. 0. 0. 0. 0. 4. 3. 0. 0. 4. 4. 0. 0. 5. 0. 0. 0.
  0. 0. 2. 4. 0. 0. 4. 4. 0. 0. 0. 4. 0. 4. 0. 0. 0. 0. 2. 0. 0. 5. 0. 5.
  0. 0. 0. 5. 5. 0. 0. 2. 0. 0. 0. 0. 0. 1. 3. 4. 2. 5. 5. 0. 4. 0. 5. 0.
  3. 5. 0. 4. 4. 0. 5. 0. 5. 0. 2. 0. 3. 0. 0. 0. 0. 0. 4. 3. 0. 0. 5. 0.
  4. 0. 0. 3. 0. 2. 4. 0. 3. 5. 4. 0. 0. 0. 0. 0. 0. 2. 0. 3. 4. 3. 0. 0.
  0. 4. 0. 3. 0. 0. 4.]]
Top 15 peliculas que tienen mucha similitud con la pelicula- Willy Wonka and the Chocolate Factory (1971) son:

Toy Story (1995)
Independence Day (ID4) (1996)
Return of the Jedi (1983)
Star Wars (1977)
Twelve Monkeys (1995)
Star Trek: First Contact (1996)
Fargo (1996)
Rock, The (1996)
Mission: Impossible (1996)
Monty Python and the Holy Grail (1974)
Raiders of the Lost Ark (1981)
Princess Bride, The (1987)
Birdcage, The (1996)
Back to the Future (1985)
Empire Strikes Back, The (1980)

<div class="alert alert-success">
    <b>Con ello se puede utilizar el modelo de ML en un servicio web!!!</b> <br>
    <br>- Se aprendio a crear un modelo de ML utilizando el algoritmo KNN.
    <br>- Se aprendio sobre problemas de esparcimiento y como resolverlo.
    <br>- Se aprendio como exportar e importar el modelo de ML para usarlo en un servicio web.
</div>

In [53]:
movie_to_user_df.to_csv("./data/movies_to_user.csv",index=True)

In [54]:
df = pd.read_csv('./data/movies_to_user.csv')

In [45]:
movies_list = list(df)
movie_dict = {movie: index for index, movie in enumerate(movies_list)}

In [57]:
df = df.set_index('movie_title')

,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie_title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1-900 (1994),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians (1996),2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men (1957),5.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187 (1997),0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Guns II (1990),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
"Young Poisoner's Handbook, The (1995)",0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zeus and Roxanne (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unknown,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Á köldum klaka (Cold Fever) (1994),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0